<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block head %}{% endblock %}信修调资系统</title>
<link href="{{ url_for('static',filename='css/base1.css' )}}" rel="stylesheet"/>
 <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
 crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
</head>
<body>
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand transfer-style" href="#">调资系统</div>
{#        <img src="{{ url_for('static',filename='images/logo.png') }}"/>#}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
{#      <ul class="nav navbar-nav">#}
{#        <li class="active"><a href="#">上传 <span class="sr-only">(current)</span></a></li>#}
{#        <li><a href="#">调资</a></li>#}
{#      </ul>#}
      <ul class="nav navbar-nav navbar-right">
       {% if name%}
            <li><a href="#">{{ name }}</a></li>
            <li><a href={{ url_for('login')}}>注销</a></li>
       {% else %}
            <li><a href={{ url_for('login')}}>登录</a></li>
            <li><a href={{ url_for('register')}}>注册</a></li>
       {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% block main %}{% endblock %}
</body>
</html>