{% extends 'base1.html' %}
{% block title %}上传{% endblock %}
{% block main %}
<div class="login_box">
      <div class="login_l_img"><img src="{{ url_for('static',filename='images/login-img.png') }}" /></div>
    <div class="upload">
          <div class="upload_logo"><a href="#"><img src="{{ url_for('static',filename='images/up.png')}}" /></a></div>
          <div class="login_name">
               <div class="login_name">
               <p>上传指定文件</p>
          </div>
    <form  method="post" enctype=multipart/form-data>
        <input name="file" type="file">
              <input value="上传" style="width:100%;" type="submit">
          </form>
      </div>
</div>
</div>
{#<div style="text-align:center;">#}
{% endblock %}
